@model Modelo.Tabelas.Categoria

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Alterando os dados de uma CATEGORIA";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-primary">
        <div class="panel-heading">
            Alteração dos dados de uma CATEGORIA
        </div>
        <div class="panel-body">
            @Html.Partial("~/Views/Categorias/_PartialEditContentPanel.cshtml", Model)
        </div>
        <div class="panel-footer panel-info">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Gravar Alterações" class="btn btn-info" />
                @Html.ActionLink("Retornar para a listagem de CATEGORIAS", "Index", null, new { @class = "btn btn-warning" })
            </div>
            <br />
            <br />
        </div>
    </div>
}

@Html.Partial("~/Views/Produtos/_PorCategoria.cshtml", Model.Produtos.ToList());

@section ScriptPage {
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass("active");
            $('#liCategorias').addClass("active");
        });
    </script>
}